*.iml
.gradle
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild



/.idea/vcs.xml
/IntelliLang.xml
/web-browsers.xml
/inspection/
/androidStudioFirstRun.xml
/debugger.xml
/editor.codeinsight.xml
/other.xml
/gradle.run.settings.xml
/ide.general.xml
/ignore.xml