<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.taphan.core1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="CHaTSibot"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".loginTest.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".layoutClass.ChatActivity"
            android:label="CHaTSibot" >
        </activity>
        <activity
            android:name=".loginTest.SignupActivity">
        </activity>
    </application>

</manifest>